{% extends "base.html" %}
{% load mathfilters %}

{% block locationbar %}
{% endblock %}
{% block contents %}
<br>
<br>
<div>
    <header class="header navbar-area" style="z-index: 2;">
        <section class="hero-area">
            <div class="container">
                <div>
                    <h3>Q&A 게시판</h3>
                    <div class="col-12">
                        <div class="main-menu-search" style="width: 1400px;">
                            <table>
                                <colgroup>
                                    <col style="width: 100px">
                                    <col style="width: 900px;">
                                    <col style="width: 150px;">
                                    <col style="width: 150px;">
                                    <col style="width: 100px;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>&nbsp;글번호</th>
                                        <th>&nbsp;글 제목</th>
                                        <th>&nbsp;&nbsp;&nbsp;아이디</th>
                                        <th>&nbsp;&nbsp;&nbsp;작성일</th>
                                        <th>&nbsp;&nbsp;&nbsp;조회수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if dtocount == 0 %}
	                                <tr>
	                                	<td></td>
	                                	<td style="display:center;">작성된 글이 없습니다</td>
	                                	<td></td>
	                                	<td></td>
	                                	<td></td>
	                                </tr>
                                {% else %}
                                    <!-- 이 부분부터 반복문 돌리면됨 -->
                                  {% for dto in dtos %}
                                    <tr>
                                        <td>{{dto.qnanum}}</td>
                                        <td><a href="../shopqna/qnacontent?qnanum={{dto.qnanum}}&pagenum={{pagenum}}&number={{number|sub:forloop.counter0}}">{{dto.qnatitle}}</a></td>
                                        <td>{{dto.user_id}}</td>
                                        <td>{{dto.qnaregdate|date:"Y-m-d H:i"}}</td>
                                        <td>{{dto.qnareadcount}}</td>
                                    </tr>
                                    <!-- 여기까지 -->
                                 {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!-- 페이지 버튼 -->
            
        </section>
    </header>
</div>
<br><br><br><br>
{% endblock %}