{% extends "base.html" %}
{% block title %}{% endblock %}
{% block header %} {% endblock %}
{% block contents %}
<header class="header navbar-area" style="margin-top:300px;">
        <section class="hero-area">
            <div class="container" style="width:1000px;">
                <div class="col-12">
                    <div class="section-title">
                        <div>
                            <h2><span>구매해 주셔서 감사합니다.</span></h2>
                        </div>
                        <div class="main-menu-search">
                            <div class="navbar-search search-style-5">
                                <div class="search-input">
                                    <input class="btn" type="button" value="마이페이지" style="background-color:lightblue" onclick="location='../shopmember/mypage'">
                                </div>
                            </div>
                        </div>              
                    </div>
                </div>
            </div>
        </section>
    </header>
{% endblock %}
{% block footer %}
{% endblock %}