{% extends "base.html" %}
{% block title %}{% endblock %}
{% block header %} {% endblock %}
{% block contents %}
{% csrf_token %}
<header class="header navbar-area" style="position:absolute;">
    <section class="hero-area">
        <div class="container">
            <div class="col-12">
                <div class="section-title">
                    <div class="main-menu-search" style="margin-left:200px;">
                        <form method="post" name="modifyform" action="ordermodify">
                        	<input type="hidden" name="paydetailnum" value="{{paydetailnum}}">
							<input type="hidden" name="pagenum" value="{{pagenum}}">
                            <table>
                                <tr>
                                    <div>
                                        <th><h3>주문을 수정 하시겠습니까?<br><br></h3></th>
                                    </div>
                                </tr>
                                <br>
                                <tr>
                                    <td>
                                        <br>
                                        <div class="search-input" style="display:flex" style="width:1400px;">
                                            <input type="submit" value="수정하기" style="background-color:lightblue">
                                            <input type="button" value="취소" style="background-color:lightblue" onclick="location='../shopmember/mypage'">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
{% endblock %}
{% block footer %}
{% endblock %}